.inputWrapper{
    margin: 0.5rem;
    width: 100%;
    background-color: rgb(218, 212, 201);
}

.inputField{
    outline: none;
    border: none;
    background-color: rgb(240, 235, 226);
    border-radius: 0.2rem;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4) ;
    height: 2.5em;
    width: 100%;
    color: black;
    font-size: 1em;
    padding: 0px 10px;
    margin-top: 0.3rem;

}

.inputLabel{
    padding: 0.2rem;
    background-color: rgb(218, 212, 201);
    color: black;
}


.errorMsg{
    padding: 0.2rem;
    background-color: rgb(218, 212, 201);
    color: red;
}

