.container{
    padding: 10px;
}

.layout{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    position: relative;
    align-items: center;
    justify-content: center;
}

.main{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}