.container{
    padding: 20px;

}

.layout{
    display: flex;
    flex-direction: column;
    min-height: 95vh;
    align-items: center;
    justify-content: center;
}

.main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 100%;
}

.heading{
    margin-bottom: 2rem;
}

.content{
    width: 50%;
    padding-right: 2rem;
    text-align: justify;
}

.form{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .main{
        flex-direction: column;
        justify-content: center;
        gap: 3em;
        padding: 0;
        width: 100%;
    }

    .content{
        width: 70%;
        text-align: center;
        padding-right: 0;
        padding-top: 1rem;
    }
    
    .heading{
        margin-bottom: 1rem;
    }
    
    
}

@media screen and (max-width:500px) {
    .content{
        width: 95%;
    }
    
    .form{
        width: 90%;
    }
    
}